{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time> </div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} nie znaleziono obrazu" class="large"/>
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with {'comments': comments} %}
        </section>
        <h3>Dodaj komentarz</h3>
        {% render(controller('BloggerBlogBundle:Comment:new',{ 'blog_id': blog.id })) %}
    </section>
{% endblock %}