<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
        <!--[if lt IE 9]>
            <script src='http://html5shim.googlecode.com/svn/trunk/html5.js></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>

    <section id="wrapper">
        <header id="header">
            <div class="top">
                {% block navigation %}
                    <nav>
                        <ul class="navigation">
                            <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Strona główna</a> </li>
                            <li><a href="{{ path('BloggerBlogBundle_about') }}">O stronie</a> </li>

                            <li><a href="{{ path("BloggerBlogBundle_contact") }}">Kontakt</a> </li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>

            <hgroup>
                <h2>{% block blog_title %}<a href="{{ path('BloggerBlogBundle_homepage') }}">Blog</a>{% endblock %} </h2>
                <h3>{% block blog_tagline %}<a href="{{ path('BloggerBlogBundle_homepage') }}">Blog w Symfony2</a>{% endblock %} </h3>

            </hgroup>
        </header>

        <section class="main-col">
            {% block body %}{% endblock %}
        </section>
        <aside class="sidebar">
            {% block sidebar %}{% endblock %}
        </aside>

        <div id="footer">
            {% block footer %}
                Symfony2 blog tutorial - chincher
            {% endblock %}
        </div>
    </section>



        {% block javascripts %}{% endblock %}
    </body>

</html>