{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Atque enim facilis laborum numquam repellendus saepe sint.
            Aliquid fugiat magnam modi pariatur perspiciatis possimus
            reprehenderit saepe similique ut voluptas. At corporis culpa
            cum cumque cupiditate debitis delectus doloremque dolores
            dolorum enim est exercitationem expedita fuga id illo illum
            incidunt inventore ipsa iste minus molestias nobis nostrum
            nulla numquam odio porro quaerat, qui quos repellendus reprehenderit
            rerum, similique sint sit ut velit vitae voluptatibus. Deserunt
            ducimus, enim. Ab, alias, aliquid amet architecto commodi earum
            eius ex explicabo harum illum ipsum minima neque nulla perferendis
            provident quis, quo reiciendis repellat repellendus vero voluptatibus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Atque enim facilis laborum numquam repellendus saepe sint.
            Aliquid fugiat magnam modi pariatur perspiciatis possimus
            reprehenderit saepe similique ut voluptas. At corporis culpa
            cum cumque cupiditate debitis delectus doloremque dolores
            dolorum enim est exercitationem expedita fuga id illo illum
            incidunt inventore ipsa iste minus molestias nobis nostrum
            nulla numquam odio porro quaerat, qui quos repellendus reprehenderit
            rerum, similique sint sit ut velit vitae voluptatibus. Deserunt
            ducimus, enim. Ab, alias, aliquid amet architecto commodi earum
            eius ex explicabo harum illum ipsum minima neque nulla perferendis
            provident quis, quo reiciendis repellat repellendus vero voluptatibus!
        </p>
    </article>
{% endblock %}