{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
            </div>
            <header>
                <h2><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id}) }}">{{ blog.title }}</a></h2>
            </header>

            <img src="{{ asset(['images/', blog.image]|join) }}"/>

            <div class="snippet">
                <p>{{ blog.blog(500) }}</p>

                <p class="continue"><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Kontynuuj
                        czytanie...</a></p>
            </div>
            <footer class="meta">
                <p>Comments: <a href="{{ path('BloggerBlogBundle_blog_show', {'id': blog.id}) }}#comments"> {{ blog.comments|length }}</a></p>

                <p>Posted by <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }} </p>

                <p>Tagi: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}

        <p>Brak wpisów na blogu</p>
    {% endfor %}

{% endblock %}