<form action="{{ path('BloggerBlogBundle_comment_create', {'blog_id' : comment.blog.id }) }}"
      method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Wyślij">
    </p>
</form>